In [2]:
import pandas as pd

__[Complaint data](https://data.cityofnewyork.us/Public-Safety/NYPD-Complaint-Data-Historic/qgea-i56i)__

In [45]:
complaints_df = pd.read_csv('../data/NYPD_Complaint_Data_Historic.csv', dtype={'CMPLNT_NUM' : 'Int64'},
                            na_values=['  "error" : true', 
                                       '  "message" : "Internal error"',
                                       '  "status" : 500',
                                       '}'],
                            parse_dates=['RPT_DT'])

complaints_df = complaints_df.dropna(subset = ['CMPLNT_NUM', 'RPT_DT', 'ADDR_PCT_CD', 'KY_CD', 'LAW_CAT_CD'])

[Columns of interest](https://data.cityofnewyork.us/Public-Safety/NYPD-Complaint-Data-Historic/qgea-i56i):
* RPT_DT = report date (we don't have as comprehensive coverage of CMPLNT_FR_DT)
* ADDR_PCT_CD = precinct
* KY_CD = offense id

In [58]:
USE_COMPLAINT_COLS = ['RPT_DT','ADDR_PCT_CD','KY_CD', 'LAW_CAT_CD','SUSP_AGE_GROUP', 'SUSP_RACE', 'SUSP_SEX', 'Latitude', 'Longitude']

In [59]:
complaints_df[USE_COMPLAINT_COLS].head()

,RPT_DT,ADDR_PCT_CD,KY_CD,LAW_CAT_CD,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,Latitude,Longitude
0,2008-04-10,73.0,341.0,MISDEMEANOR,NaN,NaN,NaN,40.669414,-73.912603
1,2007-06-03,28.0,236.0,MISDEMEANOR,NaN,NaN,NaN,40.801978,-73.945511
2,2010-02-16,102.0,105.0,FELONY,NaN,NaN,NaN,40.699990,-73.830978
3,2009-11-10,79.0,341.0,MISDEMEANOR,NaN,NaN,NaN,40.681005,-73.955035
4,2006-04-25,123.0,112.0,FELONY,NaN,NaN,NaN,NaN,NaN

In [69]:
complaints_df.LAW_CAT_CD.value_counts()

MISDEMEANOR    600871
FELONY         319753
VIOLATION      125008
Name: LAW_CAT_CD, dtype: int64

__[Arrest data](https://data.cityofnewyork.us/Public-Safety/NYPD-Arrests-Data-Historic-/8h9b-rp9u)__

In [60]:
arrests_df = pd.read_csv('../data/NYPD_Arrests_Data__Historic_.csv',
                         parse_dates=['ARREST_DATE'])

In [67]:
USE_ARREST_COLS = ['ARREST_DATE', 'ARREST_PRECINCT','KY_CD','LAW_CAT_CD','AGE_GROUP', 'PERP_RACE', 'PERP_SEX', 'Latitude', 'Longitude']

In [ ]:
arrests_df.replace({'LAW_CAT_CD': {'V':'VIOLATION', 'M': 'MISDEMEANOR', 'F': 'FELONY'}})

In [68]:
arrests_df[USE_ARREST_COLS].head()

,ARREST_DATE,ARREST_PRECINCT,KY_CD,LAW_CAT_CD,AGE_GROUP,PERP_RACE,PERP_SEX,Latitude,Longitude
0,2017-12-31,105,678.0,V,25-44,BLACK,M,40.735772,-73.715638
1,2017-12-31,114,343.0,M,25-44,ASIAN / PACIFIC ISLANDER,M,40.769437,-73.910241
2,2017-12-31,73,677.0,V,18-24,BLACK,M,40.679525,-73.904572
3,2017-12-31,18,344.0,M,25-44,WHITE,M,40.763523,-73.987074
4,2017-12-31,18,344.0,M,45-64,BLACK,M,40.759768,-73.989811

In [50]:
arrests_df.shape

(4798339, 18)

In [51]:
arrests_df.ARREST_KEY.shape

(4798339,)